{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div id="map"></div>
    <div class="location-info">
        <p>Locul unde placerea atinge cote maxime: Baia Mare, strada Hortensiei , nr. 2 </p>
        <h2>Program</h2>
        <p>De luni pana vineri ne gasiti intre orele 8-15:30</p> 
    </div>
    
    {% block footer %}{% endblock %}

    <script src="{% static 'scripts.js' %}"></script>
    <script async
    src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&loading=async&callback=initMap&v=beta&libraries=marker">
    </script>

{% endblock %}