{%extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">    
{% endblock %}

{% block body_class %}gallery-page{% endblock %}


{% block content %}

<div class="container gallery-container">

    <h1 style="font-family: Poppins;">More about our work</h1>

    
    <div class="tz-gallery">

        <div class="row">

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="{% static 'images/terra_poza.jpg' %}">
                        <img src="{% static 'images/terra_poza.jpg' %}">
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="{% static 'images/terra_poza1.jpg' %}">
                        <img src="{% static 'images/terra_poza1.jpg' %}">
                    </a>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="{% static 'images/terra_poza2.jpg' %}">
                        <img src="{% static 'images/terra_poza2.jpg' %}">
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="{% static 'images/terra_poza3.jpg' %}">
                        <img src="{% static 'images/terra_poza3.jpg' %}">
                    </a>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="{% static 'images/terra_poza4.jpg' %}">
                        <img src="{% static 'images/terra_poza4.jpg' %}">
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="{% static 'images/terra_poza5.jpg' %}">
                        <img src="{% static 'images/terra_poza5.jpg' %}">
                    </a>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="{% static 'images/terra_poza6.jpg' %}">
                        <img src="{% static 'images/terra_poza6.jpg' %}">
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="{% static 'images/terra_poza7.jpg' %}">
                        <img src="{% static 'images/terra_poza7.jpg' %}">
                    </a>
                </div>
            </div>

        </div>
        
        <div class="row">

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="{% static 'images/terra_poza8.jpg' %}">
                        <img src="{% static 'images/terra_poza8.jpg' %}">
                    </a>
                </div>
            </div>            
        </div>
            
        

    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>

{% endblock %}

