* {
    box-sizing :border-box;
    margin: 0;
    /* background: black; */
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 10; 
    background: transparent; 
    color: white;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    padding: 20px;
}
.logo {
    background: transparent;
}
.logo img{
    align-items: center;
    margin-left: 50px;
    width: 100%;
    max-width:150px;
    height: auto;
    background: transparent;
    
}
.navbar-items{
    display: flex;
    list-style: none;
    gap: 20px;
    background: transparent;
}
.navbar-item {
    background: transparent;
}
.navbar-items a{
    text-decoration: none;
    color: #fff;
    align-items: center;
    background: transparent;
    border-bottom: 2px solid transparent;
    transition: color 0.4s ease;
}
.navbar-items .navbar-item a.active {
    color: #b1995f; 
    border-bottom: 2px solid #b1995f; 
}
.navbar-items .navbar-item a:hover {
    color: #b1995f;  
    transform: scale(1.2);
}

.burger-button {
    display: none;
    font-size: 32px;
    color: white;
    cursor: pointer;
    margin-right: 20px;
    background: transparent;
}
.burger-button i{
    background: transparent;
}

@media (max-width : 53rem) {
    .navbar-items{
        display: none;
    }
    .burger-button{
        display: block;
    }
}
.container-footer{
    width: 100%;
    position: absolute;
    background: linear-gradient(to right, #f0c27b,#4b1248);
}
.container-informations{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 25%;
    padding: 20px;
    
}
.info {
    padding: 5px;
}
.col ul{
    list-style-type:none;
    padding: 0;
}
.col ul li a{
    text-decoration: none;
    color: #000;
}
.col ul li a:hover{
    color: #b1995f;
}
.icon{
    text-decoration: none;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin-left: 10px;
   
}
.icon > i {
  color: black;
  font-size: 1.5rem;
  transition: all 0.2s;
  background:transparent
}
.icon:hover > i {
    transform: scale(1.5);
    background-color : var(--color);
}
.icon:before {
    background: var(--color);
    content: "";
    position: absolute;
    width: 130%;
    height: 130%;
    left: -110%;
    top: 80%;
    transform: rotate(45deg);
}

.icon:hover:before {
    animation: slide 0.7s forwards;
}

@keyframes slide {
    50% {
        left: 10%;
        top: -40%;
    }
    100% {
        left: -15%;
        top: -15%;
    }
}
.icon:has(.fa-instagram) {
    --color: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
  }
.icon:has(.fa-facebook) {
    --color: #1877f2; 
}
/* Carousel css start */



.mySlides{
    display: none;
    margin: none;
    height: 100vh;
}


.carousel-container{
    position: relative;
    width: 100%;
}

.carousel-container img{
    width: 100%;
    height: 100vh;   
    object-fit: fill;  
}


.carousel-button-previous, .carousel-button-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background: transparent;
}

.carousel-button-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.carousel-button-previous:hover, .carousel-button-next:hover {
    background-color: #f1f1f1;
    color: black;
  }

.middle-title-carousel{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background: transparent;
}
.first-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    color: #b1995f;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    font-style: italic;
    background: transparent;
    transform: translateX(0);
}
.first-title, .second-title{
    transition: transform 0.5s ease-in-out;
}
.second-title{
    font-size: 4rem;
    margin: 10px 0 0 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    font-style: italic;
    color: #ceac5e;
    background: transparent;    
    transform: translateX(0);
}
/* .custom-line{
    height: 5px;
} */
/* about-us section */

.about-us{

    background-color: #b1995f;
}
.about-us-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.photo-about-us {
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
}
.text-about-us{
    color: white;
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0px;
    padding: 50px;
}