{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-cards">
    <h1 class="general-text">If you read this, it means hunger has won!</h1>

    {% if categories %}
        <div class="row">
            {% for category in categories %}
                <a href="{% url 'category_products' category.name_category %}" class="category-card">
                    {% if category.image %} 
                        <img src="{{ category.image.url }}" class="card-img">
                    {% else %} 
                        <img src="media/categories_img/default_img.png" class="card-img">
                    {% endif %}
                    <h5 class="card-title">{{ category.name_category }}</h5>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-center">Nu există categorii disponibile.</p>
    {% endif %}

    
</div>
{% endblock %}